/*geral*/
:root{
    --img-back-logo-dim: 50px;
}

body{
    /* background-color: #e3e1f5; */
}
ul{
    list-style: none;
}
header{
    background-color: #1d65ff;
    color:#fff;
    padding: 10px 0;;
}
.container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

/*media queries */
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    form{
        /* grid-template-columns: 140px 140px 140px auto auto 140px auto; */
        grid-template-columns: repeat(8, auto);
        
    }
    form div:nth-child(1),  form div:nth-child(2),  
    form div:nth-child(3), form div:nth-child(6)
    form div:nth-child(7){
        min-width: 100px;
        grid-column: span 1;
        /* max-width: 150px; */
    }
    form div:nth-child(4){
        grid-column: span 5;
    }
    form div:nth-child(5){
        grid-column: span 6;
    }
    #add, #search{
        margin-left: auto;
    }
}
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  /* @media (min-width: 1366px) {
    .container {
      max-width: 1360px;
    }
 } */

/* Header */
a#logo{
    display: block;
    background: url('../imgs/logo.svg') no-repeat;
    height: var(--img-back-logo-dim);
    width: var(--img-back-logo-dim);
    float:left;
}
.nav-ulLink{
    float:left;
    margin: 0;
    padding-left: 30px;
}
nav::after{
    content:"";
    display:block;
    clear:both;
}
.nav-ulLink a{
    color:#adc6fc;
    text-decoration: none;
    font-size: 1.2em;
}
.nav-ulLink  .nav-ativo{
    color:#fff;
}
.nav-ulLink li{
    float: left;
    margin-right:15px; 
    line-height: var(--img-back-logo-dim); 
}

/*main*/

main h1{
    font-size: 3em;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 50px;
}

form{
    display:grid;
    gap:10px 30px;
    margin-bottom: 50px;
    
}
form div input, form div select{
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #bebbbb;
    background-color: #fff;
    border-radius: 5px;
    color: #636363
}

#add, #search, .btnDelete{
    text-align: center;
    display:block; 
    font-size: 1.5em;
    font-weight: 900;
    border-radius: 5px;
    color: #fff;
   
}
#search, #add{
    width:40px;
    height: 40px;
    padding: 10px 0;
    background-color: #1d65ff;
}
#search img, .btnDelete img, #add img{
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
}
#add:hover, #search:hover, .btnDelete{
    cursor: pointer;
}

.btnDelete{
    background-color: #ff1d1d;
    width: 30px;
    height: 30px;
    padding: 6px 0;
}

/*table consulta*/
table{
    width: 100%;
}
tr{
    border-top: 1px solid  #bebbbb;
}

td, th{
    padding: 10px 0;
}
